.adminis-section {
    width: 100%;
    background: url("../../images/bg-frame.png");
    background-size: 100%;
}

.adminis-carousel {
    margin-inline: auto;
    width: min(1500px, 100%) !important;
    padding: min(2rem, 2vw);
    overflow: visible !important;
}

.carousel-root {
    overflow: visible !important;
}


.adminis {
    /* display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem; */
    margin-inline: auto;
    padding-inline: min(2rem, 4vw);
}

.adminis img {
    box-shadow: 0 25px 50px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    overflow: hidden;
    width: 400px !important;
    aspect-ratio: 1 !important;
    position: relative;
    --margin: 2rem;
    margin-right: var(--margin);
    margin-bottom: var(--margin);
    margin-top: var(--margin);
}


.long-note {
    text-align: justify;
    line-height: clamp(1.5rem, 2vw, 2rem);
    color: rgba(0, 0, 0, 0.9);
    font-size: min(1.5rem, 2.5vw);
}

.position {
    color: var(--primary-clr);
    opacity: .8;
    font-size: min(1.5rem, 3vw);
}

@media(max-width: 1000px) {
    .adminis-section {
        background-image: none;
    }
}

@media(max-width: 768px) {
    .adminis img {
        margin-right: 0;
        margin-bottom: 0;
        margin-top: 0;
    }
}