.notices-section {
    position: relative;
    padding: min(2rem, 2vw);
    display: flex;
    flex-direction: column;
    background: url("/images/bg-frame.png");
    background-size: 100%;
}

@media(max-width:1000px) {
    .notices-section {
        background: none;
    }
}

.notices-section>h1 {
    font-size: min(3.5rem, 8vw);
    text-align: center;
    font-family: "SF Pro Display-Bold";
    color: var(--primary-blue);
}

.drop {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

.drop select {
    background-color: var(--primary-blue);
    color: #fff;
    height: 80px;
    width: 700px;
    font-size: min(2rem, 8vw);
    font-family: "SF Pro Display-Bold";
    border-radius: 15px;
    border: var(--primary-blue);
    padding: 0 1rem;
}

/* .notices-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    gap: min(2rem, 2vw);
} */

.notice-card {
    background-color: white;
    border-radius: 15px;
    padding: min(1.5rem, 1.5vw);
    display: flex;
    flex-direction: column;
    border: 2.5px solid var(--secondary-clr);
    margin: 2.4rem 2rem;
    width: 80%;
    margin-left: 10%;
}

/* .notice-card:nth-child(2n-2) {
    border: 2px solid #21548c;
} */

/* .notice-card:nth-child(2n-1) {
    border: 2px solid #d74746;
}

.notice-card:nth-child(2n) {
    border: 2px solid rgb(31, 179, 238);
} */

/* .notice-card:nth-child(2n-2) h1 {
    color: #21548c;
} */

/* .notice-card:nth-child(2n-1) h1 {
    color: #d74746;
}

.notice-card:nth-child(2n) h1 {
    color: #dba63c;
} */
/* .notice-card:nth-child(2n-2) .notice-file a {
    color: rgba(33, 84, 140);
    background-color: rgba(33, 84, 140, 0.2);
} */

/* .notice-card:nth-child(2n-1) .notice-file a {
    color: rgba(215, 71, 70);
    background-color: rgba(215, 71, 70, 0.2);
}

.notice-card:nth-child(2n) .notice-file a {
    color: rgba(31, 179, 238);
    background-color: rgba(31, 179, 238, 0.2);
} */

.notice-card h1 {
    text-transform: uppercase;
    margin-top: 0;
    font-family: "SF Pro Display-Bold";
    font-size: min(1.7rem, 3.4vw);
    border-bottom: 3px solid var(--secondary-clr);
    padding-block: min(1rem, 1vw);
    color: #2d2d2d;
}

.notice-card p {
    font-size: min(1.3rem, 2.6vw);
    /* color: rgba(0, 0, 0, 0.75); */
    font-family: "SF Pro Display-Medium";
    line-height: 1.5em;
}

.notice-file {
    /* margin-top: auto; */
    padding-top: min(1rem, 3vw);
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
}

.notice-file a {
    border-radius: 12px;
    font-size: min(1rem, 4vw);
    font-family: "SF Pro Display-Bold";
    padding: min(.5rem, .5vw) min(2rem, 2vw);
    border: 2.5px solid var(--secondary-clr);
    color: var(--secondary-clr);
}

.embed-pdf {
    height: 100vh;
}

@media(max-width: 1300px) {
    .notices-grid {
        grid-template-columns: 1fr;
    }
}