.acad-cal {
    background: url("../../images/bg-frame.png");
    background-size: contain;
    padding-bottom: min(2rem, 2vw);
    background-size: 100%;
    min-height: 50vh;
}



.cal-container {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    width: min(1000px, 100%);
    background: white;
    margin-inline: auto;
    padding: 1rem;
    border-radius: 10px;

}

.cal-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    margin-inline: auto;

}

.cal-grid>* {
    border: 2px solid rgb(1, 39, 59);
    text-align: center;
    padding: min(1rem, 1vw);
    font-size: min(1.25rem, 2.5vw);
}

.heading>* {
    font-family: "SF Pro Display-Bold";
    font-size: min(2.5rem, 5vw);
    background-color: var(--primary-clr);
    color: white;
}

.acad-cal>h1 {
    font-size: min(3.5rem, 8vw);
    text-align: center;
    font-family: "SF Pro Display-Bold";
    color: var(--primary-blue);
}


@media(max-width: 1000px) {
    .acad-cal {
        background-image: none;
    }
}