.event-section {
    background: #F5F5F5;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: min(2rem, 2vw)
}

.event-header {
    margin-inline: auto;
    position: relative;
    width: 100%;
    border-radius: 20px;
    overflow: hidden;
}

.event-header>img {
    width: 100%;
    height: 600px;
    object-fit: cover;
    object-position: 20% 30%;
}

.event-header-title {
    position: absolute;
    bottom: 0;
    color: white;
    padding: min(2rem, 2vw);
}

.event-header-title p {
    color: #D4D4D4;
    font-family: "SF Pro Display-Medium";
    /* font-size: min(2rem, 4vw); */
    font-size: 31.6667px;
}

.event-header-title h1 {
    /* font-size: min(5rem, 10vw); */
    /* font-size: min(3.75rem, 7.5vw); */
    font-size: 79.1667px;
    margin-block: 1.5rem;
    font-family: "SF Pro Display-Medium";
}

.about-event-section {
    padding: min(2rem, 2vw);
    display: grid;
    position: relative;

}

.conditional-event-grid {
    grid-template-columns: 65% 35%;
}

.about-event {
    display: flex;
    flex-direction: column;
}

.about-event h1 {
    /* font-family: "SF Pro Display-Bold"; */
    font-size: min(3.75rem, 7.5vw);
    /* color: var(--primary-clr); */

}

.about-event p {
    /* color: #383838; */
    font-size: min(1.6rem, 3.2vw);
    /* line-height: 2rem; */
    text-align: justify;
}

.about-event-carousel {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-left: 20px;
}

.event-carousel-img {
    width: min(600px, 100%);
    aspect-ratio: 2/1.5;
    object-fit: fill;
    border-radius: 1.5em;

}

.events-section-1 {
    padding: min(2rem, 2vw);
}

.events-header {
    display: flex;
    align-items: center;
    gap: min(2rem, 2vw);
    margin-bottom: 20px;

}

.EventFilterHeader {
    display: flex;
    align-items: center;
    gap: 20px;
    height: 45px;
}

.EventFilterHeader>h4 {
    background-color: #005E93;
    border-radius: 2rem;
    padding: min(1rem, 1vw) min(4rem, 4vw);
    color: white;
    font-size: min(1.6rem, 3.2vw);
    width: max-content;
    margin-block: min(4rem, 4vw);
}

.eventCardConatainer {
    display: flex;
    gap: 20px;
    /* grid-template-columns: repeat(4, 1fr); */
    /* gap: min(2rem, 2vw); */
}

.event-card {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 30px;
    aspect-ratio: 390/500;
    padding: min(1rem, 1vw);
    border: 1.31944px solid #E2E2E2;
    position: relative;
    width: 431px;
}

.event-card h1 {
    color: #2D2D2D;
    font-size: min(1.1rem, 2.2vw);
    text-align: left;
    margin: 0;
    padding-block: min(2rem, 2vw);
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
}

.event-card p {
    text-align: left;
    color: #9F9F9F;
    font-size: min(1rem, 2vw);
    height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.event-card img {
    width: 100%;
    aspect-ratio: 1;
    object-fit: contain;
    height: 272px;

}

.EventScroller {
    display: flex;
    overflow-x: scroll;
    padding-bottom: 20px;
    gap: 20px;
    position: relative;
}

.EventScroller::-webkit-scrollbar-track {
    background: #D4D4D4;
    border-radius: 9px;
    border-top: 3px solid #f5f5f5;
    border-bottom: 3px solid #f5f5f5;
}

.EventScroller::-webkit-scrollbar {
    background-color: white;
    overflow: visible;
    height: 7.9px;
    background: transparent;
}

.EventScroller::-webkit-scrollbar-thumb {
    background-color: #005E93;
    border-radius: 9px;
}

.FilterData {
    z-index: 1000;
    text-align: end;
    padding: 20px;
    position: absolute;
    left: 249px;
    background-color: white;
    margin-top: 20px;
    border-radius: 20px;
}





/* .event-card-bottom{
    margin-top: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: min(2rem, 2vw);
}

.date-chip{
    background-color: #005E93;
    color: white;
    padding: min(.5rem, .5vw) min(2rem, 2vw);
    border-radius: 2rem;
    font-size: min(0.875rem, 1.5vw);
}
.register-btn{
    background-color: white;
    color: #005E93;
    padding: min(.5rem, .5vw) min(2rem, 2vw);
    border-radius: 2rem;
    font-size: min(0.875rem, 1.5vw);
    outline: 2px solid #005E93

} */