.eli-section {
    background: url("../../images/bg-frame.png");
    background-size: 100%;
}

.eli_container {
    text-align: center;
    padding: 10px 0;
    width: min(1500px, 100%);
    margin-inline: auto;
}

.eli_container>h1 {
    font-size: min(3.5rem, 8vw);
    font-family: "SF Pro Display-Bold";
    color: var(--primary-blue);
}

/* .eli{
    display: grid;
    grid-template-columns: 2fr;
} */

@media (max-width:1000px) {
    .eli-section {
        background: none;
    }
}

.btns {
    font-size: 30px;
    font-weight: 600;
    width: 200px;
    height: 70px;
    border-radius: 18px;
    margin: 20px 43%;
    background-color: var(--secondary-clr);
    color: white;
    padding-top: 14px;
    font-family: "SF Pro Display-Bold";
}



.infos {
    margin: 10px;
    padding: 20px;
    border: 2px solid black;
    border-radius: 15px;
    font-size: 24px;
    font-family: "SF Pro Display";
}
.infos p{
    text-align: justify;
}
.ortext{
    text-align: center;
}

@media (max-width:1000px) {
    .btns {
        margin: 10px 36.5%;
        font-size: 25px;
        height: 60px;
        padding: 10px;
    }

    .infos {
        font-size: 15px;
    }
}

@media (max-width: 800px) {
    .eli-section h1 {
        margin: 5px;
    }

    .btns {
        /* margin: 10px 27%; */
        font-size: 20px;
        width: 150px;
        height: 50px;
        display: flex;
        justify-content: center;
        /* padding: 10px; */
    }

    .infos {
        font-size: 20px;
        line-height: 1.5em;
    }

    .eli_container{
        width: 90%;
    }
}

@media(max-width: 600px) {
    .eli-section h1 {
        margin: 5px;
    }

    .btns {
        display: flex;
        justify-content: center;
        width: 120px;
        height: 50px;
        border-radius: 15px;
    }

    .box {
        height: 450px;
        width: 90%;
    }
}