@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Spline+Sans&display=swap');

:root {
    --primary-clr: #BF1717;
    --secondary-clr: #A52E2E;
    --primary-blue: #084A9E;

}

@font-face {
    font-family: "SF Pro Display";
    src: url("../public/fonts/SFPRODISPLAYREGULAR.OTF");
    font-style: normal;
}

@font-face {
    font-family: "SF Pro Display-Bold";
    src: url("../public/fonts/SFPRODISPLAYBOLD.OTF");
    font-style: normal;
}

@font-face {
    font-family: "SF Pro Display-Medium";
    src: url("../public/fonts/SFPRODISPLAYMEDIUM.OTF");
    font-style: normal;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: "SF Pro Display", sans-serif;
}

html {
    max-width: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body,
#root {
    margin: 0;
    min-height: 100vh;
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.my-bold {
    font-family: "SF Pro Display-Bold";
}

.my-md {
    font-family: "SF Pro Display-Medium";
}

.code {
    font-family: monospace;
}

.block {
    position: absolute;
    width: 20px;
    height: 50%;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--secondary-clr);
    z-index: 101;
}

.my-text-4 {
    font-size: min(4rem, 8vw);
}

.left-block {
    left: 0;
}

.right-block {
    right: 0;
}

@media (max-width: 800px) {
    .block {
        display: none;
    }
}

button {
    cursor: pointer;
    border: none;
}

.AllHeading {
    font-size: 25px;
    padding: 10px;
    font-family: 'Edu NSW ACT Foundation', cursive;
}

.loading {
    text-align: center;
}

.show {
    visibility: visible !important;
}

.show-bg {
    display: block;
}


/* Carousel */


.control-arrow {
    position: absolute !important;
    top: 50% !important;
    width: 50px !important;
    height: 50px !important;
    transform: translateY(-50%) !important;
    background-color: #ec640c !important;
    border-radius: 50% !important;
    background-color: var(--secondary-clr) !important;
    background: rgba(0, 0, 0, 0.3) !important;
    backdrop-filter: blur(12px) !important;
}

.carousel-slider {
    position: relative;
    overflow: visible !important;
}




a {
    text-decoration: none;
}