.alumini-meet-section {
    background-image: url("../../images/bg-frame.png");
    background-size: 100%;
    padding-inline: 2rem;
}

.alumnimeet {
    width: min(1500px, 100%);
    margin-inline: auto;
}

.alumnimeet h2 {
    font-family: "SF Pro Display-Bold";
    font-size: min(2.5rem, 4vw);
    width: min(1500px, 90%);
    color: #A52E2E;
}

.alumnimeet h3 {
    font-family: "SF Pro Display";
    font-size: 30px;
    margin-inline: auto;
    color: #A52E2E;
}

.alumnimeet li {
    font-size: 24px;
    line-height: 3rem;
}


@media(max-width: 1300px) {
    .alumini-meet-section {
        background-image: none;
        max-width: 100%;
    }

    .alumnimeet {
        width: min(1000px, 100%);
        margin-inline: auto;
    }

    .flex-custom {
        width: 60%;
        margin: 0 30%;
    }

}