.alumini-meet-section {
    background-image: url("../../images/bg-frame.png");
    background-size: 100%;
    padding-inline: 2rem;
}

.alumnimeet {
    width: min(1500px, 100%);
    margin-inline: auto;
}

.alumnimeet h2 {
    font-family: "SF Pro Display-Bold";
    font-size: min(2.5rem, 4vw);
    width: min(1500px, 90%);
    color: #A52E2E;
}

.alumnimeet h3 {
    font-family: "SF Pro Display";
    font-size: 30px;
    margin-inline: auto;
    color: #A52E2E;
}

.alumnimeet li {
    font-size: 24px;
    line-height: 3rem;
}
.AluminiEventsContainer{
    padding: 20px 0px;
    display: flex;
}

.AluminCardContainer{
    width : 350px;
    /* border: 1px solid black; */
    height: 400px;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    cursor: pointer;
}

.AluminCardContainer img {
    /* border: 1px solid black;  */
    width : 350px;
    height: 250px;
}

.AluminCardContainer h4 {
    color: #6c757d;
    padding: 15px 20px ;
    margin: 0;
    font-size: 18px;
}

.AluminCardContainer P{
    color: #9F9F9F;
    font-size: min(1rem, 2vw);
    overflow: hidden;
    text-overflow: ellipsis;
    border-top: 1px solid #D4D4D4;
    padding: 10px 10px;
    text-align: left;
    height: 34px;
}


@media(max-width: 1000px) {
    .alumini-meet-section {
        background-image: none;
        max-width: 100%;
    }

    .alumnimeet {
        width: min(1000px, 100%);
        margin-inline: auto;
    }

    .flex-custom {
        width: 60%;
        margin: 0 30%;
    }
    .alumnimeet p{
        font-size: 4vw;
        line-height: 1.5em;
    }
    .alumnimeet li{
        font-size: 4vw;
        line-height: 1.5em;
    }

}